@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cocogoose", sans-serif, "Lato", Times, serif;
  color: #272a31;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

* a {
  text-decoration: none;
}

/* Hamburger Menu Mobile Styling */

.hamburger {
  display: flex;
  justify-content: flex-start;

  /* align-items: center; */

  padding: 8px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  /* Aestethics */

  background-image: url(../bg/bg-mobile.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  background-position-x: left;
}

/* Headline Section Styling */

.background {
  height: 85vh;
  position: relative;
  background-image: url(../bg/bg-mobile.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  background-position-x: left;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.intro {
  font-family: "Lato";
  font-size: 20px;
  color: #ec5242;
  text-align: left;
  font-weight: bold;
  line-height: 0;
  margin-top: 100px;
  margin-left: 8px;
}

.title {
  font-size: 35px;
  font-family: "COCOGOOSE";
  /* font-weight: bold; */
  line-height: 35px;
  text-align: left;
  background-image: url("../bg/header-txt-bg.png");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 8px;
}

.intro-text {
  background-color: #d3d3d3;
  border: 3px solid #fff;
  font-size: 13px;
  font-family: "Lato";
  -webkit-box-sizing: border-box;
  margin: 0 8px;
}

.date {
  text-align: left;
  line-height: 0;
  font-family: "COCOGOOSE";
  margin: 0 8px;
}

.location {
  text-align: left;
  font-family: "Lato";
  font-size: 16px;
  margin: 0 8px;
}

/* Main Program Section */

.main-program {
  font-family: "Lato";
  display: flex;
  gap: 35px;
  flex-direction: column;
  background-color: #272a31;
  color: #fff;
  position: relative;
  /* height: 100vh; */
  /* top: 90vh; */
  background-image: url(../bg/main-program-bg.png);
  background-repeat: repeat-y;
  background-size: 100% 35px;
  background-position-x: left;
  background-position-y: top;
}

.heading-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  padding: 20px;
}

.main-program-items {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  border: #44464d;
  background-color: #44464d9d;
  align-items: center;
  padding: 10px;
}

.main-heading {
  padding-top: 30px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}

.header-line {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
  margin-top: 15px;
}

article p {
  font-size: 13px;
  text-align: initial;
  padding-right: 5px;
}

article h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ec5242;
  text-align: initial;
  padding-left: 5px;
  padding-right: 5px;
}

.join-button {
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  background-color: #ec5242;
  width: 250px;
  margin-top: 0;
  margin-bottom: 30px;
  align-self: center;
  font-family: "Lato";
  height: 67px;
}

/* Header Styling */

.style-heading {
  padding-top: 30px;
  font-family: "Lato";
  font-size: inherit;
}

/* Featured Speakers Section */

.speakers {
  font-family: "Lato";
  padding: 20px 0 0 0;
  font-size: 1.1em;
}

.speakers {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  padding: 20px;
}

.speaker {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
}

.bgimage {
  position: relative;
  top: 0;
  left: 0;
}

.first {
  position: relative;
  top: 0;
  left: 0;
}

.second {
  position: absolute;
  top: 10px;
  left: 10px;
}

.speakers-line {
  background-color: #d3d3d3;
  border: 1px solid #d3d3d3;
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speakers img {
  width: 100%;
  height: 70%;
}

.hideSpeaker {
  display: none;
}

.description {
  color: #ec5242;
  font-style: oblique;
}

.seeMore {
  display: flex;
  justify-content: center;
}

.more {
  width: 80%;
  margin: auto;
  border-color: #272a31;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 10px;
  background: #fff;
  height: 50px;
  font-size: 1em;
  margin-bottom: 20px;
}

/* Partners Section */

#partners {
  background-color: #272a31;
}

.ptn {
  color: #d3d3d3;
}

.partner li img {
  width: 100%;
  /* height: 64%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.logo-container {
  display: flex;
  height: 90%;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.partner-logos {
  width: 135px;
  height: 100px;
  margin: 0;
}

/* Footer Section */

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

footer img {
  width: 46%;
  height: 5vh;
  margin: 10px;
}

.footer-text {
  font-size: 0.7em;
  font-family: 'Lato';
  margin-top: 10px;
  margin-right: 5px;
  text-align: initial;
}

footer {
  height: 10vh;
}