@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cocogoose", sans-serif, "Lato", Times, serif;
  color: #272a31;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
}

* a {
  text-decoration: none;
}

/* Hamburger Menu Mobile Styling */

.hamburger {
  display: flex;
  justify-content: flex-start;

  /* align-items: center; */

  padding: 8px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

  /* Aestethics */

  background-image: url(../bg/bg-mobile.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  background-position-x: left;
}

/* Headline Section Styling */

.background {
  height: 85vh;
  position: relative;
  background-image: url(../bg/bg-mobile.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center center;
  background-position-x: left;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.intro {
  font-family: "Lato";
  font-size: 20px;
  color: #ec5242;
  text-align: left;
  font-weight: bold;
  line-height: 0;
  margin-top: 100px;
  margin-left: 8px;
}

.title {
  font-size: 35px;
  font-family: "COCOGOOSE";
  /* font-weight: bold; */
  line-height: 35px;
  text-align: left;
  background-image: url("../bg/header-txt-bg.png");
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 8px;
}

.intro-text {
  background-color: #d3d3d3;
  border: 3px solid #fff;
  font-size: 13px;
  font-family: "Lato";
  -webkit-box-sizing: border-box;
  margin: 0 8px;
}

.date {
  text-align: left;
  line-height: 0;
  font-family: "COCOGOOSE";
  margin: 0 8px;
}

.location {
  text-align: left;
  font-family: "Lato";
  font-size: 16px;
  margin: 0 8px;
}

/* Main Program Section */

.main-program {
  font-family: "Lato";
  display: flex;
  gap: 35px;
  flex-direction: column;
  background-color: #272a31;
  color: #fff;
  position: relative;
  /* height: 100vh; */
  /* top: 90vh; */
  background-image: url(../bg/main-program-bg.png);
  background-repeat: repeat-y;
  background-size: 100% 35px;
  background-position-x: left;
  background-position-y: top;
}

.heading-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  padding: 20px;
}

.main-program-items {
  display: grid;
  grid-template-columns: 10% 30% 60%;
  border: #44464d;
  background-color: #44464d9d;
  align-items: center;
  padding: 10px;
}

.main-heading {
  padding-top: 30px;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
}

.header-line {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
  margin-top: 15px;
}

article p {
  font-size: 13px;
  text-align: initial;
}

article h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ec5242;
  text-align: initial;
  padding-left: 5px;
  padding-right: 5px;
}

.join-button {
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  background-color: #ec5242;
  width: 250px;
  margin-top: 0;
  margin-bottom: 30px;
  align-self: center;
  font-family: "Lato";
  height: 67px;
}

/* Featured Speakers Section */

.speakers {
  font-family: 'Lato';
  padding: 20px 0 0 0;
  font-size: 1.1em;
}

#speakers-parent {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}